Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^maverickgame.com [NC]
RewriteRule ^(.*)$ http://www.maverickgame.com/$1 [L,R=301,NC]
RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 
RewriteCond %{HTTP_HOST} ^(www\.)?example\.com$
RewriteRule ^$ http://www.maverickgame.com/index.php [L,R=301]
RewriteRule ^about-us$ about-us.php [L]
RewriteRule ^leader-board$ game-score.php [L]
RewriteRule ^purchase-coins$ buy-coins.php [L]
RewriteRule ^maverick-user-profile$ user-profile.php [L]
RewriteRule ^contact-us$ contact-us.php [L]
RewriteRule ^maverick-game-user-login$ maverick-login.php [L]
RewriteRule ^maverick-forgotpassword$ maverick-forgotpassword.php [L]
RewriteRule ^maverick-game-reset-password$ resetpassword.php [L]
RewriteRule ^maverick-game-user-register$ maverick-signup.php [L]
RewriteRule ^login-message$ message.php [L]
RewriteRule ^maverick-game-rewards-store$ rewards-store.php [L]
RewriteRule ^maverick-game-dicussion-forum$ game-dicussion-forum.php [L]
RewriteRule ^maverick-game-(.*)$ view-maverick-game.php?id=$1 [L]
RewriteRule ^game-package-payment$ select-payment.php [L]
RewriteRule ^payment-success$ payment-success.php [L]
RewriteRule ^game-register-message$ thanks-register.php [L]
RewriteRule ^game-forum-thread-(.*)$ forum-thread.php?id=$1 [L]
RewriteRule ^game-forum-post-(.*)$ forum-post-detail.php?id=$1 [L]
RewriteRule ^game-forum-quick-reply-(.*)$ forum-post-reply.php?id=$1 [L]
RewriteRule ^new-thread-(.*)$ forum-thread-reply.php?id=$1 [L]
RewriteRule ^game-edit-thread-(.*)$ edit-thread.php?id=$1 [L]
RewriteRule ^game-thread-reply-(.*)$ game-thread-reply.php?id=$1 [L]
RewriteRule ^game-thread-quick-reply-(.*)$ gameeditthreadquickreply.php?id=$1 [L]
RewriteRule ^game-thread-edit-reply-(.*)$ gameeditthreadreply.php?id=$1 [L]
RewriteRule ^game-package-payment$ select-payment.php [L]
RewriteRule ^maverick_services/signup$ maverick_services/user_register.php [L]
RewriteRule ^maverick_services/login$ maverick_services/user_login.php [L]
RewriteRule ^maverick_services/forget-password$ maverick_services/forget_password.php [L]
RewriteRule ^maverick_services/forget-code$ maverick_services/forgot-code.php [L]
RewriteRule ^maverick_services/user-profile$ maverick_services/user_profile.php [L]
RewriteRule ^maverick_services/edit-profile$ maverick_services/edit_profile.php [L]
RewriteRule ^maverick_services/maverick-games$ maverick_services/maverick-games.php [L]
RewriteRule ^update-personal-info$ update-personal-info.php [L]
RewriteRule ^update-password$ update-password.php [L]
RewriteRule ^user-games-point$ user-games-point.php [L]
RewriteRule ^game_services/maverick-user-coins$ maverick_game_services/maverick-user-coins.php [L]
RewriteRule ^game_services/maverick-game-coins$ maverick_game_services/maverick-game-coins.php [L]
RewriteRule ^game_services/update-user-coins$ maverick_game_services/update-user-coins.php [L]
RewriteRule ^game-leader-board-(.*)$ game-leader-board.php?id=$1 [L]
RewriteRule ^game-point-leader-board$ game-points-leader-board.php [L]
RewriteRule ^game-point-weekly-leader-board$ weekly-leader-board.php [L]
RewriteRule ^game-point-daily-leader-board$ daily-leader-board.php [L]
RewriteRule ^user-rewards$ user_rewards.php [L]
RewriteRule ^user-rewards-points$ user_rewards_points.php [L]
RewriteRule ^earn-rewards-points$ earn_rewards_points.php [L]
RewriteRule ^redeem-rewards-points$ redeem_rewards_points.php [L]
RewriteRule ^highest-leader-board$ highest_leader_board.php [L]
RewriteRule ^maverick-leader-board$ maverick_leader_board.php [L]
RewriteRule ^user-game-score$ user-game-score.php [L]
RewriteRule ^scratch-card-payment$ scratchcard-payment.php [L] 
RewriteRule ^thanks-scratchcard-payment$ thanks-scratchcard-payment.php [L] 


RewriteCond %{HTTP:Accept-encoding} gzip
RewriteRule (.*)Release(.*)\.js $1Compressed$2\.jsgz [L]
RewriteRule (.*)Release(.*)\.data $1Compressed$2\.datagz [L]
RewriteRule (.*)Release(.*)\.mem $1Compressed$2\.memgz [L]
RewriteRule (.*)Release(.*)\.unity3d $1Compressed$2\.unity3dgz [L]
AddEncoding gzip .jsgz
AddEncoding gzip .datagz
AddEncoding gzip .memgz
AddEncoding gzip .unity3dgz